services:
  - type: web
    name: lms-backend
    env: python
    plan: free
    buildCommand: |
      pip install -r requirements.txt
      python manage.py collectstatic --noinput
    startCommand: gunicorn apost_sch.wsgi:application
    envVars:
      - key: DJANGO_SETTINGS_MODULE
        value: apost_sch.settings
      - key: SECRET_KEY
        sync: false
      - key: DATABASE_URL
        sync: false
      - key: DEBUG
        value: "False"
